

.header {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

img {
  width: 34px;
  height:  34px;
  padding: 20px; 
  flex:0 1 auto;
  /* border: 1px solid blue; */
}

.right {
  flex:1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* border: 1px solid blue; */
}

.title {
    /* width: 74px;
    height: 64px; */
    /* border: 1px solid red; */
    padding: 15px;
}

