

.theader {
  display: flex;
  align-items: center;
  justify-content: space-around;
   border: 1px solid blue; 
}

img {
  width: 34px;
  height:  34px;
  padding: 20px; 
  flex:0 1 auto;
   border: 1px solid blue; 
}

.tright {
  flex:1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
   border: 1px solid blue; 
}

.tleft {
    flex:1 1 auto;
    display: flex;
    border: 1px solid blue; 
}

.tcenter {
    flex:0 0 100px;
    display: flex;
    justify-content: center;
       border: 1px solid red; 
}

.ttitle {
    /* width: 74px;
    height: 64px; */
     /* border: 1px solid red;  */
    padding: 15px;
}

